:root {
    --error-red:#de362a;
    --accept-green: #60AE3E;
    --inword-yellow: #e8b131;
    --wrong-grey:#8b8b8b;
  }

*{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    /* font-family:  'Open Sans', sans-serif ; */
}
.sun{
    background-color: 	#fdfaf1;
    color: rgb(0, 0, 0);
}
.darkmode{
    background-color: #121212;
    color: rgb(226, 226, 226);
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 50%;
    padding: 20px 10px;
    border-bottom: 1px;
    margin: auto;
}
header h1{
    text-align: center;
}

.sunicon{
    font-size: 29px !important;
}
.sunicon:hover{
    color: #e8b131;
    cursor: pointer
}
.darkmode .sunicon:hover{
    color: #f1f0aa;
    cursor: pointer
}
.moonicon{
    display: none;
    font-size: 29px !important;
}
.moonicon:hover{
    color: #e3ecba;
    cursor: pointer
}

.boardd tr td{
    border: 2px solid #d4d4d4;
    width: 60px;
    height: 60px;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
}
.boardd {
    margin-top: 50px !important;
    margin: auto;
}

.acert{
    border: 2px solid var(--accept-green) !important;
    background-color: var(--accept-green) !important;
}
.inword{
    border: 2px solid var(--inword-yellow) !important;
    background-color: var(--inword-yellow) !important;
}
.wrong{
    border: 2px solid var(--wrong-grey) !important;
    background-color: var(--wrong-grey) !important;
}
.darkmode .boardd tr td{
    background-color: #121212;
}

.def{
    text-align: center;
    margin-left:    15%;
    margin-right:   15%;
    font-style: italic;
    font-size: 14px;
}
.def:hover{
    text-decoration: underline;
    cursor: default;
}
.send{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.arr{
    display: block;
    align-items: center;
    margin-right: 5px !important;
    
    margin-top: 60px !important;
    padding: 12px 20px;
    border: 0;
    color: #fdfaf1;
    text-align: center;
    margin: 0px;
    display: block;
    
    font-size: 20px;
    background-color: #b6b6b6;
    border-radius: 6px;
}
.btnsend{
    background-color: #b6b6b6;
    border: 0;
    font-size: 20px;
    padding: 11px 18px;
    border-radius: 6px;
    color: #fdfaf1 ;
}
.btnsend:hover{
    cursor: pointer;
}
#error{
    margin-top: 28px !important;
    text-align: center;
    margin-left:    15%;
    margin-right:   15%;
    font-style: italic;
    font-size: 14px;
    color: var(--error-red);
}
#state, #word{    
    text-align: center;
    margin-left:    15%;
    margin-right:   15%;
    font-size: 26px;
    /* margin-bottom: 10px !important; */
}
#state{
    margin-top: 45px !important;
    margin-bottom: 5px !important;
}
#word{
    margin-top: 9px !important;
    /* margin-bottom: 5px !important; */
}

.ax{
    color: var(--accept-green) ;
}
.wr{
    color: var(--error-red);
}
